.modal-bcg {
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 21;
}

.modal-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.contact-modal {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 12px;
	background-color: white;
	padding: 60px;
	border-radius: 10px;
}

.contact-modal__title {
	font-size: 36px;
	font-weight: 400;
	text-align: center;
}

.contact-modal__input {
	font-size: 16px;
	width: 450px;
	padding: 20px 10px;
	border: 1px solid #9ea3b2;
	background: #FCFCFC;
	border-radius: 10px;
}

textarea.contact-modal__input {
	resize: none;
}

.contact-modal__input::placeholder {
	font-size: 16px;
	font-weight: 600;
}

.contact-modal__close-ic {
	position: absolute;
	top: 6%;
	left: 90%;
	cursor: pointer;
	width: 3%;
}

.contact-modal__btn {
	width: 100%;
	padding: 12px;
	border: none;
	border-radius: 10px;
	color: white;
	font-size: 18px;
	background: #DF042A;
}

.slider_header {
	font-size: 42px;
	color: white;
	font-weight: 600;
}

@media (max-width: 600px) {
	.contact-modal {
		width: 90%;
		padding: 30px;
	}

	.contact-modal__input {
		width: 100%;
	}
}

.cart_wrapper img {
	width: 100%;
	height: 250px;
	object-fit: cover;
}

.cart__name {
	font-size: 14px;
	color: black;
	font-weight: 600;
	margin-bottom: 6px;
}

.cart__position, .cart__desc {
	font-size: 12px;
	color: #666666
}

.cart__position {
	color: black;
	width: max-content;
	margin-bottom: 8px;
	border-bottom: 1px solid #DF042E;
}

/* .team {
	display: flex;
	justify-content: center;
	gap: 30px;
}

.team .cart {
	width: calc(25% - 30px);
}

.team img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	box-shadow: 4px 4px 4px 4px rgb(0 0 0 / 13%);
	margin-bottom: 15px;
}

.cart__name {
	font-size: 18px;
	color: black;
	font-weight: 700;
}

.cart__mail, .cart__phone {
	font-size: 14px;
	color: #666666;
} */